@model List<BenimApi.Grpc.Forecast>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HAVALAR</h1>
    @foreach (var m in Model)
    {
        <p>@m.Date.ToDateTime().ToString("dd MMMM") | @m.Summary </p>
    }
</div>

