@model List<WeatherForecast>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HAVALAR</h1>
    @foreach (var m in Model)
    {
        System.Threading.Thread.Sleep(400);
        <p>@m.date.ToString("dd MMMM") | @m.summary</p>
    }
</div>

